body {
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: gimlet-display-condensed, serif;
    font-weight: 400;
    font-style: normal;
  }
  p {
    font-family: work-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 50ch;
  }
  .header-spacer {
    height: 10vh;
  }
  /* Classes */
  .column-one {
    margin-top: 2em;
  }
  .column-one * {
    margin-left: 5%;
  }
  .gallery-container {
    width: 100%;
    background-color: aquamarine;
    height: 100vh
  }
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 20em;
  }
  /* IDs */

  #redBox {
    background-color: red;
    height: 100px;
    width: 100px;
  }